DISCORD_BOT_TOKEN=""
# optional
SYSTEM_PROMPT=""
# optional
ENABLE_DEBUG=false
# optional
TEMPERATURE=0.7
# optional
HISTORY_MAX_SIZE=2048 
GOOGLE_API_KEY=""
# optional
GOOGLE_API_MODEL="" 
MISTRAL_API_KEY=""
# optional
MISTRAL_MODEL=""
GROQ_API_KEY=""
# optional
GROQ_MODEL=""
# optional
GROQ_ENDPOINT=""