DISCORD_BOT_TOKEN=""
# optional
SYSTEM_PROMPT="You are a helpful AI assistant."
# optional
ENABLE_DEBUG=false
# optional
TEMPERATURE=0.7
# optional
HISTORY_MAX_SIZE=2048
# openai
OPENAI_API_KEY=""
OPENAI_BASE_URL="https://api.openai.com/v1"
OPENAI_MODEL="gpt-4"
GOOGLE_API_KEY=""
# optional
GOOGLE_API_MODEL="" 
MISTRAL_API_KEY=""
# optional
MISTRAL_MODEL="mistral-medium-latest"
GROQ_API_KEY=""
# optional
GROQ_MODEL="llama3-70b-8192"
# optional
GROQ_ENDPOINT="https://api.groq.com/openai/v1"
# aws bedrock
# optional
AWS_BEDROCK_REGION_NAME="us-west-2"
# optional
AWS_BEDROCK_MODEL_ID="anthropic.claude-3-sonnet-20240229-v1:0"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""