DISCORD_BOT_TOKEN=""
# optional
SYSTEM_PROMPT=""
# optional
ENABLE_DEBUG=false
# optional
TEMPERATURE=0.7
# optional
HISTORY_MAX_SIZE=2048 
GOOGLE_API_KEY=""
# optional
GOOGLE_API_MODEL="" 
MISTRAL_API_KEY=""
# optional
MISTRAL_MODEL=""
GROQ_API_KEY=""
# optional
GROQ_MODEL=""
# optional
GROQ_ENDPOINT=""
# aws bedrock
# optional
AWS_BEDROCK_REGION_NAME=""
# optional
AWS_BEDROCK_MODEL_ID=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""